.jobDetailCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 600px;
  margin: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 80px;
}
.jobDetailsContent {
  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
}
